body {
    background-color: #F5F8ED !important;
    font-family: Arial, Helvetica, sans-serif;
}

.corner-button {
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: #CDDBA3;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    font-color: #101207;
    -webkit-appearance: none;
    text-decoration: none;
}

.corner-button:hover {
    background-color: #A1BC53 ;
}

.header-language {
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

.language-box {
    background-color: #E2CFD3;
    border: 0px;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    min-width: 270px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    display: block;
}

.language-box:hover{
    background-color: #B5838D;
}

.language-image {
    border-radius: 25px;
    height: 200px;
    width: auto;
    margin: 20px;
}

.background-img {
    opacity: 0.65;
}

.option_box {
    border-radius: 25px;
    background-color: #E2CFD3;
    margin: 20px;
    text-align: center;
    min-width: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.option_box:hover {
    background-color: #B5838D;
}

.kind {
    display: block;
}

.kind-image {
    height: 200px;
    width: auto;
    margin: 20px;
}

h1 {
    color: #101207;
    margin: 20px;
    text-align: center;
}

span {
    color: #101207;
    margin: 20px;
    font-size: 40px;
}

textarea {
    margin: 10px;
    resize: none;
}

#submit-feedback {
    background-color: #E2CFD3;
    border: 0px;
    color: #100A0B;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}

#submit-feedback:hover {
    background-color: #B5838D;
}

#question-box {
    height: 180px;
}

#completed-feedback {
    background-color: #E2CFD3;
    border: 0px;
    color: #100A0B;
}

#completed-feedback:hover {
    background-color: #B5838D;
}



#end-recording {
    background-color: #E2CFD3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    color: #100A0B;
    margin-top: 20px;
    width: 300px;
    border-radius: 25px;
    text-align: center;
    vertical-align: bottom;
    font-size: 30px;
}

#end-recording:hover {
    background-color: #B5838D;
}

#recording_timer {
    color: #100A0B;
    margin-top: 20px;
    margin-left: 200px;
    width: 300px;
}

#hearing-box {
    border: 0px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    background-color: #CDDBA3;
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 250px;
}

#hearing-box:hover {
    background-color: #A1BC53 ;
}

#succesful-box {
    background-color: #E2CFD3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    color: #100A0B;
    margin-top: 0px;
    border-radius: 25px;
    width: 550px;
    text-align: center;
    height: 115px;
    line-height: 105px;
    margin-left: 80px;
}

#succesful-box:hover {
    background-color: #B5838D;
}

#retry-box {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    background-color: #CDDBA3;
    border: 0px;
    border-radius: 25px;
    text-align: center;
    width: 550px;
    height: 115px;
    margin-top: 20px;
    line-height: 105px;
    margin-left: 80px;
}

#retry-box:hover {
    background-color: #A1BC53;
}

#category-box {
    border: none;
    background: transparent
}

#speech-bubble {
    position: relative;
    background: #CDDBA3;
    border-radius: .4em;
    margin-top: 20px;
    padding: 20px;
}

#speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 55px solid transparent;
    border-top-color: #CDDBA3;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -55px;
}

#daisy {
    height: 350px;
    width: auto;
}

.correctness {
    background-color: #E2CFD3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    color: #100A0B;
    margin-top: 0px;
    border-radius: 25px;
    border: 0px;
    width: 220px;
    text-align: center;
    height: 100px;
    margin-top: 120px;
    padding: 10px;
}

/* Speaking bubble */
.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 87%;
    padding: 10px;
    height: auto;
    background-color: #F5EFF0;
    border: 3px solid #101207;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
}

.tri-right.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 36px;
    bottom: -40px;
    border: 20px solid;
    border-color: #101207 #101207 transparent transparent;
}
.tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 40px;
    bottom: -30px;
    border: 15px solid;
    border-color: #F5EFF0 #F5EFF0 transparent transparent;
}