body {
    background-color: #F5F8ED !important;
}

#speech-bubble {
    position: relative;
    background: #CDDBA3;
    border-radius: .4em;
    margin-top: 20px;
    padding: 20px;
}

#speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 55px solid transparent;
    border-top-color: #CDDBA3;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -55px;
}

#lefty {
    text-align: center;
}

img {
    width: 400px;
}

button {
    background-color: #E2CFD3;
    text-align: center;
    border-radius: 10px !important;
    border: 0px;
    margin-top: 150px !important;
    display: inline-block;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

button:hover {
    background-color: #B5838D ;
}

span {
    color: #101207;
    margin: 20px;
    font-size: 30px;
}

#back-button {
    margin-top: 70px !important;
    margin: 10px;
    background-color: #CDDBA3;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    border: 0px;
}

#back-button:hover {
    background-color: #A1BC53 ;
}